<%= content_for :ipresenter do%>
	<div class="slider">
		<div id="ipresenter">
			<div id="intro" class="step" data-x="0" data-y="0" data-thumbnail="/assets/s3.png">
				<img src="/assets/details.png" />
				<h2>人肉带货首选</h2>
			</div>

			<div id="capture" class="step" data-x="1100" data-y="1200" data-scale="1.8" data-rotate="180" data-thumbnail="/assets/s3.png">
				<img src="/assets/details.png" />
				<h2>人肉带货首选</h2>
			</div>

			<div id="view" class="step" data-x="-300" data-y="600" data-scale="0.2" data-rotate="270" data-thumbnail="/assets/s3.png">
				<img src="/assets/details.png" />
				<h2>人肉带货首选</h2>
			</div>
		</div>
	</div>
<% end %>
<!-- products-section-starts -->
<div class="products-section">
	<div class="container">
	  <div class="col-md-9">
			<div class="product-section-head-text">
			  <h3>热门 <span>行程</span></h3>
			</div>
			<div class="bottom-grids collections">
				<div class="bottom-grids-left">
					<div class="f-products">
						<!-- sreen-gallery-cursual -->
						<div class="sreen-gallery-cursual">
							<!-- start content_slider -->
							<div id="owl-demo" class="owl-carousel text-center">
							  <% Trip.where(:expiration_date.gt => Time.now).desc(:pur_num).limit(5).each do |trip|%>
						    <div class="item">
						      <div onclick="location.href='/trips/<%=trip.id%>';" class="product-grid">
										<div class="product-pic">
											<%= image_tag trip.pictures.first.attachment.url(:large), title: trip.trip_name %>
										</div>
										<div class="product-pic-info">
											<h4><a href="/trips/<%=trip.id%>" style="color: #999;">下单截止时间：<%=trip.expiration_date.strftime("%Y-%m-%d")%></a></h4>
											<div class="product-pic-info-price-cart">
												<div class="product-pic-info-price">
													<span><%=trip.trip_name%></span>
												</div>
												<div class="product-pic-info-cart">
													<a class="p-btn" href="/trips/<%=trip.id%>">查看详情</a>
												</div>
												<div class="clearfix"> </div>
											</div>
										</div>
									</div>
						    </div>
						    <% end %>
					    </div>
							<!--sreen-gallery-cursual -->
						</div>
					</div>
					<div class="d-products product-section-head-text">
				    <h3>最新发布 <span> 行程</span></h3>
						<!-- sreen-gallery-cursual -->
						<div class="sreen-gallery-cursual">
							<!-- start content_slider -->
						  <div id="owl-demo1" class="owl-carousel text-center">
						    <% Trip.where(:expiration_date.gt => Time.now).desc(:created_at).limit(5).each do |trip|%>
					      <div class="item">
					        <div onclick="location.href='/trips/<%=trip.id%>';" class="product-grid">
										<div class="product-pic">
											<%= image_tag trip.pictures.first.attachment.url(:large), title: trip.trip_name %>
										</div>
										<div class="product-pic-info">
											<h4><a href="/trips/<%=trip.id%>" style="color: #999;">下单截止时间：<%=trip.expiration_date.strftime("%Y-%m-%d")%></a></h4>
											<div class="product-pic-info-price-cart">
												<div class="product-pic-info-price">
													<span><%=trip.trip_name%></span>
													<label> </label>
												</div>
												<div class="product-pic-info-cart">
													<a class="p-btn" href="/trips/<%=trip.id%>">查看详情</a>
												</div>
												<div class="clearfix"> </div>
											</div>
										</div>
									</div>
					      </div>
					      <% end %>
				      </div>
						<!--sreen-gallery-cursual-->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="sellers">
				<h4>热带货物</h4>
				<div id="cbp-vm" class="cbp-vm-switcher cbp-vm-view-grid_index">
						<ul>
						  <% Product.where(:expiration_date.gt => Time.now).desc(:pur_num).limit(3).each do |product|%>
					  	<li>
								<a class="cbp-vm-image" href="/products/<%=product.id%>/purchasings/new">
								 	<div class="view view-first">
						   			<div class="inner_content clearfix">
											<div class="product_image">
												<%= image_tag product.pictures.first.attachment.url(:large), class: "img-responsive" %>
												<div class="mask">
				                  <div class="info">Quick View</div>
						            </div>
												<div class="product_container">
										   		<div class="cart-left">
											 			<p class="title"><%=product.brand%><%=product.name%></p>
										   		</div>
										   		<div class="pricey"><%=product.price%></div>
										   		<div class="clearfix"></div>
									     </div>		
									  	</div>
				            </div>
			            </div>
		            </a>
								<div class="cbp-vm-details">
									下单截止时间：<%=product.expiration_date.strftime("%Y-%m-%d")%>
								</div>
								<a class="cbp-vm-icon cbp-vm-add" href="/products/<%=product.id%>/purchasings/new">一起带</a>
							</li>
							<% end %>
						</ul>
					</div>
			</div>
		</div>
	</div>
</div>
<!-- products-section-ends -->

<script>
	$(document).ready(function(){
		$('#ipresenter').iPresenter({
			timerPadding: -1,
			controlNav: true,
			controlNavThumbs: true,
			controlNavNextPrev: false
		});
	});
	$(document).ready(function() {
    $("#owl-demo").owlCarousel({
      items : 3,
      lazyLoad : true,
      autoPlay : true,
      navigation : true,
      navigationText :  false,
      pagination : false,
    });
  });
  $(document).ready(function() {
    $("#owl-demo1").owlCarousel({
      items : 3,
      lazyLoad : true,
      autoPlay : true,
      navigation : true,
      navigationText :  false,
      pagination : false,
    });
  });
</script>