<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="login">
        <div class="login-screen">
          <div class="login-icon">
            <%= image_tag "login/icon.png"%>
            <h4>Welcome to <small>帮淘</small></h4>
          </div>

          <div class="login-form">
            <div class="form-group">
              <%= f.email_field :email, autofocus: true, autocomplete: "off", class: "form-control login-field", placeholder: "电子邮箱" %>
              <label class="login-field-icon fui-mail" for="user_email"></label>
            </div>

            <div class="form-group">
              <%= f.password_field :password, autocomplete: "off", class: "form-control login-field", placeholder: "密码" %>
              <label class="login-field-icon fui-lock" for="user_password"></label>
            </div>
            <%= f.submit "登录", class: "btn btn-primary btn-lg btn-block" %>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
<% end %>

<script type="text/javascript">
  /* <![CDATA[ */
  jQuery(function(){
    jQuery("#user_email").validate({
      expression: "if (VAL) return true; else return false;",
      message: "请输入您的email地址"
    });
    jQuery("#user_password").validate({
      expression: "if (VAL) return true; else return false;",
      message: "请输入您的密码"
    });
  });
  /* ]]> */
</script>
