<!DOCTYPE html>
<html>
<head>
  <title>Geetao</title>
  <meta charset="utf-8" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
<%= javascript_include_tag "html5shiv" %>
<%= javascript_include_tag "respond.min" %>
    <![endif]-->
</head>
<body>
  <!-- header-section-starts -->
  <div class="user-desc">
    <div class="container">
      <ul>
        <li>
          <% if user_signed_in? %>
            <i class="user"></i>
            <%= link_to('GeeTao中心', edit_user_registration_path) %>
          <% else %>
            <i class="reg"></i>
            <%= link_to('注册', new_user_registration_path) %>
          <% end %>
        </li>
        <li>
          <% if user_signed_in? %>
          <%= link_to('退出', destroy_user_session_path, :method => :delete) %>
          <% else %>
          <i class="sign_in"></i>
          <%= link_to('登录', new_user_session_path)  %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="header">
    <div class="header-top">
      <div class="container">
        <div class="logo">
          <%= image_tag "logo.png"%>
        </div>
        <div class="top-menu">
          <span class="menu"> </span>
          <ul class="cl-effect-15">
            <li><a href="404.html" data-hover="FEATURES">FEATURES</a></li>
            <li><i class="favorite"></i><a href="/favorite" data-hover="我的收藏">我的收藏</a></li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <%= yield :ipresenter %>
  </div>





  <div class="container content">

    <%= yield %>

  </div>
</body>
</html>

<!--script-nav-->
<script>
  $("span.menu").click(function(){
    $(".top-menu ul").slideToggle("slow" , function(){
    });
  });
</script>
<!--script-nav-->
